<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kdiakonidze.pickmeapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo4"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".AddStatement"
            android:label="@string/title_activity_add_statement"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DetailPageDriver"
            android:label="@string/title_activity_detail_page"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".DetailPagePassanger"
            android:label="@string/title_activity_detail_page_passanger"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".EditMyStatement"
            android:label="რედაქტირება" />
        <activity android:name=".FavoriteStatements"
            android:label="რჩეული განცხ."
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kdiakonidze.pickmeapp.MainActivity" />
        </activity>

        <activity android:name=".MyStatements"
            android:label="ჩემი განცხ."
            android:parentActivityName=".MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.kdiakonidze.pickmeapp.MainActivity" />
        </activity>
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
    </application>

</manifest>